<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div class="container">
        <!-- <header>
            <h1>Coffee Profeer</h1>
        </header> -->
        <div class="content">
            <div class="content-form">

                <section>
                        <h2 class="sub-headline">
                            <span class="first-letter">W</span>elcome

                        </h2>
                        <h1 class="headline">Coffee Profeer</h1>
                        <div class="headline-description">
                            <div class="seprator">

                                <div class="single-animation">

                                    <h5>Your best choice</h5>
                                    <!-- <a href="" class="btn cta-btn">Start Now</a> -->
                                </div>

                            </div>
                        </div>
                </section>
             </div>
        </div>

      <!--<form #myForm="ngForm" (ngSubmit)="AddCustomers()">-->
      <form #userPost="ngForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <div class="right">
              <div class="contact-form">
                  <!--<input type="text" name="fullname" #fullname="ngModel"
                   required minlength="6"
                [(ngModel)]="customer.name" class="form-control">-->
                <input type="text" name="name" #fullname="ngModel" ngModel [(ngModel)]="customer.name" placeholder="your name" required>
                  <span>Full Name</span>
              </div>

              <div class="contact-form">
                  <!--<input type="text" name="phone" #phone="ngModel"
                  required minlength="6"
               [(ngModel)]="customer.phone" class="form-control">-->
               <input type="text" name="phone" #phone="ngModel" ngModel [(ngModel)]="customer.phone" placeholder="your phone" required>
                  <span>Phone Number</span>
              </div>
            <div class="contact-form">
                <input type="text" name="type" #type="ngModel" ngModel [(ngModel)]="customer.type" required placeholder="Retail or Hotsale">
                <!--<select name="Type" ngModel>
                  <option>Retail</option>
                  <option>Hotsale</option>
                </select>-->
                <span>Type</span>
            </div>
            <!-- <P>My name is {{customer.phone}}</P> -->
              <!--<div class="contact-form">
                  <input type="submit" name="submit" routerLink="home">
              </div>-->
              <button type="submit" name="submit">Submit</button>
              </div>
            </div>
    </form>
        <div class="media">
            <li><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
        </div>
        <div class="empty">

        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>

