<!-- <header>
  <div class="container">
      <nav class="nav ">
          <div class="menu-toggle">
              <i class="fas fa-bars"></i>
              <i class="fas fa-times"></i>
          </div>
          <img class="logo" src="./../../../assets/logo.png">
          <ul class="nav-list">
              <li class="nav-item">
                  <a class="nav-link" routerLink="home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Shope Coffee</a>
              </li>
              <li class="nav-item">
                  <a  class="nav-link" routerLink="ApiPosts">Our Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " routerLink="Gallery">Gallery</a>

              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about">About Us</a>
              </li>
          </ul>

      </nav>
  </div>
</header> -->
<!-- header_ends -->
<header id="head">
    <nav>
    <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="Product">Products</a></li>
        <li><a routerLink="Gallery">Gallery</a></li>
        <li><a href="Blog">Our Blog</a></li>
        <li><a href="#dish">About Us</a></li>
        <li><a href="Contact">Contact Us</a></li>


    </ul>
</nav>
<div class="fas fa-mug-hot"></div>
<img class="logo" src="./../../../assets/logo.png">
</header>

<router-outlet></router-outlet>
<!-- <script src="./../../../assets/myjs/toggle.js"></script> -->

