
.logo{
  width: 200px;
  height: 100px;
}

#head {
  width: 100%;
  /*position: fixed;*/
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem;
  z-index: 1000;
}

#head .fa-mug-hot {
  font-size: 4rem;
  color:var(--secondary-font-color);
  z-index: 10000;
  cursor: pointer;
  display: none;
}

#head .logo img {
  height: 5rem;
}

#head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

#head nav ul li {
  margin-left: 4rem;
}

#head nav ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

#head nav ul li a:hover {
  color:var(--secondary-font-color);
  text-decoration: none;
}
.fa-times {
  -webkit-transform: skew(-180deg) rotate(-180deg);
          transform: skew(-180deg) rotate(-180deg);
}

@media (max-width: 786px) {

  #head .fa-mug-hot {
    display: block;
  }
  #head nav {
    position: fixed;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 35rem;
    background: #333;
  }
  #head nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  #head nav ul li {
    margin: 2rem 0;
  }
  #head nav ul li a {
    font-size: 3.5rem;
    border-radius: 5rem;
  }
  #head nav ul li a:hover {
    padding: .5rem 7.5rem;
    color: #333;
    background:var(--secondary-font-color);
  }
  #head .nav-toggle {
    left: 0%;
  }
}
