<app-nav></app-nav>
<section class="hero" id="hero" style="background:url('./../../../assets/cup8.jpg') center no-repeat;background-size: cover;height: 80vh;">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">A</span>BOUT US
        </h2>
        <h1 class="headline">Coffee Proffer</h1>
        <div class="headline-description">
            <div class="seprator">

                <div class="single-animation">
                    <h5>We love to proffer our clients</h5>
                </div>

            </div>
        </div>
    </div>
  </section>

<section class="discover-our-story" id="about">
    <div class="container">
        <div class="resturant-info">
            <div class="resturant-description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">M</span>ission

                    </h2>
                    <!-- <h1 class="headline headline-dark">Our Story</h1> -->

                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>

                </div>
                 <div *ngFor="let a of about">
                    <div class="single-animation" >
                        <h4 style="font-weight:bold;">{{a.mistion}}</h4>
                    </div>
                    <!-- <p>{{a.vition}}</p> -->

                 </div>



            </div>
            <div class="resturant-info-img animate-right">
                 <img src="./../../../assets/cup4.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="discover-our-menu">
    <div class="container">
        <div class="resturant-info">
            <div class="image-group padding-right animate-left">
                <img src="./../../../assets/cup1.jpg" alt="">
                <img src="./../../../assets/cup2.jpg" alt="">
                <img src="./../../../assets/cup3.jpg" alt="">
                <img src="./../../../assets/cup4.jpg" alt="">


            </div>
            <div class="resturant-description animate-right">

             <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">V</span>ision

                    </h2>
                    <!-- <h1 class="headline headline-dark">Coffee Profeer</h1> -->
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>

                </div>
                <div *ngFor="let a of about">

                <div class="single-animation" >
                    <h4 style="font-weight:bold;">{{a.vition}}</h4>
                </div>
                </div>
                <!-- <p>{{a.vition}}</p> -->
            </div>
        </div>
    </div>
</section>
 <!--<h1>{{ about| json}} </h1>-->

<!-- menu ends -->
<app-footer></app-footer>
