<script src="./../../../assets/myjs/lightbox.js"></script>
<section class="hero" id="hero" style="background:url('./../../../assets/h1.jpg') center no-repeat;background-size: cover;height: 80vh;">
  <div class="container">
      <h2 class="sub-headline">
          <span class="first-letter">O</span>ur moments
      </h2>
      <h1 class="headline">Coffee Proffer</h1>
      <div class="headline-description">
          <div class="seprator">
             
              <div class="single-animation">
                  <h5>Our moments in our whole place share your moment with us and see it !!</h5>
              </div>

          </div>
      </div>
  </div>
</section>
<!--End Header-->
<section>

<div class="gallery" *ngFor="let gallary of gallery">
  <div class="column" *ngFor="let gallary of gallery">
    <div class="content" *ngFor="let gallary of gallery">
      <img src="{{ gallary.title }}" class="rounded" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        <h3>Our Moment</h3>
    </div>
  </div>
 
</div>
<div id="myModal" class="modal" >
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides" *ngFor="let gallary of gallery">
      <div class="numbertext">1 / 12</div>
      <img {{ gallary.photo }} class="rounded">
    </div>

   
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="column" *ngFor="let gallary of gallery">
      <img class="demo cursor" {{ gallary.photo }} style="width:100%" onclick="currentSlide(1)" alt="View Special Moments">
    </div>
   
  </div>
</div>

</section>

