

<section id="home" class="container-fluid">

    <div class="row min-vh-100 align-items-center">
        <div class="col-md-8 ml-md-5 text-mdleft text-center content">
            <h2 class="sub-headline">
                <span class="first-letter">O</span>ur Products
            </h2>
            <h1 class="headline">Coffee Proffer</h1>
            <div class="headline-description">
                <div class="seprator">
                   
                    <div class="single-animation">
                        <h5>Our moments in our whole place share your moment with us and see it !!</h5>
                    </div>
      
                </div>
        </div>
        </div>
    
    <div class="video-container">
       
<video src="./../../../assets/v1.mp4"autoplay loop class="vid v1"></video>
<video src="./../../../assets/v3.mp4"autoplay loop class="vid v2"></video>
<video src="./../../../assets/v3.mp4"autoplay loop class="vid v3"></video>


    
    </div>
    <div class="controls">
         <div class="dots dot1"></div>
         <div class="dots dot2"></div>
         <div class="dots dot3"></div>
    
    </div>
    </div>
    
    </section>


 <section id="special" class="container-fluid">
    <div class="heading text-center">
        <div class="global-headline">
            <br>
            <h2 class="sub-headline">
                <span class="first-letter">D</span>iscover

            </h2>
            <h1 class="headline headline-dark">Our<span> Products</span></h1>

        </div>
    </div>

    <div class="card-container">
        <div class="card" *ngFor="let item of product">
            <img src="./../../../assets/cup1.jpg" alt="">
            <p>{{item.description}}</p>

        </div>
 </div>
</section>  

     <!-- home section end -->